.gallery-slider {
  width: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  aspect-ratio: 16/12;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: #fd6d00;
}
