.error-page {
  min-height: 100vh;
  background: #f9f9f9;
  display: grid;
  place-content: center;
}

.error-page h3 {
  font-size: 70px;
  color: #0086ff;
}

.error-page .go-home a {
  display: inline-block;
  background: #0086ff;
  padding: 10px 40px;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.error-page h2 {
  font-size: 50px;
  color: #222;
  margin: 10px 0 30px;
}

.error-page .go-home a:hover {
  opacity: 0.8;
}

.water-wave {
  position: relative;
  z-index: 1;
}

.waves {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: red; */
  left: 0;
  top: 0;
  z-index: -1;
}

.waves span {
  width: 60px;
  aspect-ratio: 1;
  background: #0086ff;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.2;
  animation: scaleUp 5s infinite;
  transition: 1s;
}

.waves span:nth-child(1) {
  animation-delay: 0.5s;
}
.waves span:nth-child(2) {
  animation-delay: 1s;
}
.waves span:nth-child(3) {
  animation-delay: 1.5s;
}
.waves span:nth-child(4) {
  animation-delay: 2s;
}

@keyframes scaleUp {
  0% {
    width: 0px;
  }
  90% {
    width: 300px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
